<div align="center"><div class="adM">
</div><table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:300px;width:auto!important;padding:2px" width="600">
<tbody><tr>
<td align="left" bgcolor="#4e2f4e" style="width:100%;border-left:1px solid #4e2f4e;border-top:1px solid #4e2f4e;padding:12px 0px 12px 25px">
<div align="left">
<font style="color:#ffffff;font-size:18px;line-height:14px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;text-align:left">
</font></a>
</font>
</div>
</td>
</tr>
<tr>
<td align="justify" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:250px;border-left:1px solid #e7dce5;border-right:1px solid #e7dce5;border-top:1px solid #e7dce5;padding:25px">
<div align="justify">
<font style="color:#714a69;font-size:13px;line-height:15px;font-family:Arial,Helvetica,sans-serif;text-align:justify">
Hello <strong><%= @user.username %></strong>,
<p>
You can reset your email using this temporary activation code:
</p>
<p style="text-align:center;font-size:18px;margin-top:30px;margin-bottom:30px"><table align="center" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" bgcolor="#B9153C" style="padding:10px 30px;border-radius:2px">
<font style="color:#ffffff;font-size:13px">
  <%=  @user.reset_email_token%>
</font>
</a>
</td>
</tr>
</tbody>
</table>
This activiation code will <b>expire in 4 hours</b>.
</font>
</div>
</td>
</tr>

<tr>
<td align="center" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:250px;border-left:1px solid #e7dce5;border-right:1px solid #e7dce5;border-bottom:1px solid #e7dce5;padding:0 25px 25px 25px;height:34px">
<div align="center">
<font style="color:#ffffff;font-size:13px;line-height:15px;font-family:Arial,Helvetica,sans-serif;text-align:center">

<p style="color:#714a69;font-size:13px;line-height:15px;font-family:Arial,Helvetica,sans-serif;text-align:justify">
<br>
If you have not requested a change in email, please contact our customer service <a style="color:#714a69" href="mailto:support@infidele.com" target="_blank">support@infidele.co</a><br><br>
See you soon on
</font>
</div>
</td>
</tr>


<tr>
<td align="center" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:250px;border-left:1px solid #e7dce5;border-right:1px solid #e7dce5;padding:25px 25px 10px 25px">
<div align="center">
<font style="color:#714a69;font-size:13px;font-style:italic;line-height:15px;font-family:Arial,Helvetica,sans-serif;text-align:center">
Infidele is now available on your smartphone and tablet
</font>
</div>
</td>
</tr>

<tr>
<td align="center" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:250px;border-left:1px solid #e7dce5;border-right:1px solid #e7dce5;border-bottom:1px solid #e7dce5;padding:0 25px 25px 25px">
<table>
<tbody><tr><td><div align="center">
<font style="color:#714a69;font-size:12px;font-style:italic;line-height:15px;font-family:Arial,Helvetica,sans-serif;text-align:center">
</font></div></td><td><font style="color:#714a69">

</font></a></td>
<td>s<font style="color:#714a69">
</tr>

<tr>
<td align="center" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:300px">
<div align="center">
<font style="color:#714a69;font-size:10px;line-height:13px;font-family:Verdana,Geneva,sans-serif;text-align:center">
<br><br>
Are you tired of receiving email notifications ?
<br>
Configure your email alerts in the "My account" menu.
</font>
</div>
</td>
</tr>
<tr>
<td align="center" bgcolor="#ffffff" colspan="2" style="max-width:600px;min-width:300px;padding-top:10px">
<font style="color:#714a69;font-size:10px;line-height:13px;font-family:Verdana,Geneva,sans-serif;text-align:center">
Infidele © 2019 All Rights Reserved
</font>
</td>
</tr>
</tbody></table>
</div>
